@model Hometech.Models.HomeViewModels.CartViewModel
@{
    ViewData["Title"] = "Корзина";
}
@if (ViewBag.EmptyCart)
{
    <h2>Ваша корзина пуста.</h2>
    <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="AllProducts">Перейти к списку товаров</a>
}
else
{
    <h2>Ваша корзина:</h2>
    <table class="table">
        <tr><th>Товар</th><th>Цена</th><th>Доступность</th><th>Удалить из корзины</th></tr>
        @foreach (var p in Model.products)
        {
            <tr><td>@p.category @p.manufacturer @p.vendor_code</td><td>@p.price</td>
                @if (p.is_available)
                {
                    <td>В наличии</td>
                }
                else
                {
                    <td>Товар закончился</td>
                }
                <td><a type="button" class="btn btn-primary" asp-controller="Home" asp-action="DeleteItem" asp-route-vendorCode="@p.vendor_code">Удалить</a></td>
            </tr>
        }
    </table>
    <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="ClearCart">Очистить корзину</a>
    <a type="button" class="btn btn-primary" asp-controller="Order" asp-action="Products">Оформить заказ</a>
}